<!--HTML job title & industry sector page-->

<label>Job Title </label>
<input type="text" name="job_Title" id="job_Title" maxlength="50" size="30" required><br><br>

<label>Industry Sector:</label> 
<select name="industry_Sector" required>
    <%= erb :"common/industrySectorLoop" %>
</select>
