<!--HTML job title & industry sector page-->

<label1>Job Title </label1>
<input type="text" name="job_Title" id="job_Title" maxlength="50" size="30" ><br><br>

<label1>Industry Sector:</label1>
<select name="industry_Sector">
  <option value="" selected>Select An Option</option>
  <%= erb :"common/industrySectorLoop" %>
</select>